*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.card{
    width: 20em;
    height: 28em;
    background-color: rgb(226, 234, 239);
    margin-top: 1em;
    margin-left: 1em;
    animation: bs;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
     
}
@keyframes bs{
    from{box-shadow: -2em 5em 6em rgb(130, 173, 210);}
    to{background-color: #f1f1f1;}

}

.card img{
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50em;
    margin-left: 5em;
    margin-top: 2em;
    animation: cd;
    animation-duration: 1s;
    animation-iteration-count: infinite;  
}
@keyframes cd{
   from{box-shadow: 0.1em -0.2em 2em  rgb(52, 163, 223);}
    
}


.card h1{
    margin-left: 5em;
    margin-top: 1em;
    font-size: 1.3em;
    text-transform: capitalize;
    font-style: italic;
    background-image: url("https://media.giphy.com/media/14nmg7SMF1KSUo/giphy.gif");
    background-clip: text;
    color: transparent;

}
.card p{
    margin-left:4em ;
    margin-top: 0.4em;
     color: rgb(5, 5, 5);
    font-size: 1.3em;
    text-transform: capitalize;

}
.card button{
    margin-left: 3.1em;
    margin-top: 2em;
    font-size: 2.2em;
    text-transform: capitalize;
    padding:0.3em 0.5em;
    border-radius: 3em;
    border: none;
    background-color:rgb(98, 184, 241);;
    color: white;
    animation: colorchng;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-style: none;
  
}
@keyframes colorchng{
    from{background-color:rgb(129, 144, 220);}
    to{transform:scale(1.1);}
}
button,a{
    color: aliceblue;
    text-decoration: none;
}
