*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.card{
    width: 22%;
    height:60%;
    background-color: rgb(250, 247, 245);
    box-shadow: -30px -30px 40px rgb(244, 245, 239);
    position: absolute;
    left: 1500px;
    top:300px  
}
.card:hover{
    box-shadow: -30px -30px 40px rgb(98, 184, 241);
}
.card img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: -10px -20px 30px rgb(98, 184, 241);
    position: absolute;
    left: 180px;
    top:80px;
}
.card img:hover{
    box-shadow: -10px -20px 30px rgb(72, 153, 208);
}
.card h1{
    position: absolute;
    left: 180px;
    top:550px;
    font-size: 70px;
    text-transform: capitalize;
    color: rgb(14, 14, 14);

}
.card p{
     color: rgb(5, 5, 5);
    position: absolute;
    left: 140px;
    top:650px;
    font-size: 70px;
    text-transform: capitalize;

}
.card button{
    position: absolute;
    left: 200px;
    top:780px;
    font-size: 70px;
    text-transform: capitalize;
    padding: 40px 70px;
    border-radius: 80px;
    border: none;
    background-color:rgb(98, 184, 241);;
    color: white;
  
}
.card button:hover{
    background-color: rgb(21, 21, 21);
    box-shadow: 10px 10px 100px rgb(56, 60, 61);
}